<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Dni:</b>
  <%= @student.dni %>
</p>

<p>
  <b>Number:</b>
  <%= @student.number %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>


<%= link_to 'Edit', edit_course_student_path(@student.course, @student) %> |
<%= link_to 'Back', course_students_path(@student.course) %>
