<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :year, 'Año' %>
    <%= form.number_field :year, id: :course_year, class: "form-control", placeholder: "Ingrese año" %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar cursada', class: "btn btn-primary" %>
  </div>
<% end %>
