<div class="container box">
  <div class="row">
    <div class="col">
      <h1><%= @course.year %></h1>
    </div>
    <div class="col text-right">
      <%= link_to 'Atrás', course_path(@course), class: "btn btn-secondary" %>
    </div>
  </div>

  <% @exams = @course.exams.order('date') %>

  <% if @course.has_students? %>
    <div class="row">
      <table class="table table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Legajo</th>
            <% @exams.each do |exam| %>
              <th scope="col">
                <%= link_to exam.title, course_exam_path(@course, exam) %> 
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @course.students.each do |student| %>
            <tr>
              <td><%= student %></td>
              <td><%= student.dni %></td>
              <td><%= student.number %></td>
              <% @exams.each do |exam| %>
                <% if student.attended_to?(exam) %>
                  <% score = student.score_for(exam) %>
                  <% if student.passed?(exam) %>
                    <td class="exam-td text-success"><%= score %></td>
                  <% else %>
                    <td class="exam-td text-danger"><%= score %></td>
                  <% end %>
                <% else %>
                  <td class="exam-td text-secondary">Ausente</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
            <tr class="table-secondary">
              <td colspan="3">Aprobados</td>
              <% @exams.each do |exam| %>
                <td scope="col"><%= exam.approved %></td>
              <% end %>
            </tr>
            <tr class="table-secondary">
              <td colspan="3">Desaprobados</td>
              <% @exams.each do |exam| %>
                <td scope="col"><%= exam.failed %></td>
              <% end %>
            </tr>
            <tr class="table-secondary">
              <td colspan="3">Ausentes</td>
              <% @exams.each do |exam| %>
                <td scope="col"><%= exam.absent_students %></td>
              <% end %>
            </tr>
            <tr class="table-secondary">
              <td colspan="3">Porcentaje de aprobación</td>
              <% @exams.each do |exam| %>
                <td scope="col"><%= number_to_percentage(exam.approved_percentage, precision: 2) %></td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
    <% else %>
      <div class="row">
        <div class="col">
          <div class="card mx-auto card-box" style="width: 20rem;">
            <div class="card-body text-center">
              <h4 class="card-title">Lo sentimos :(</h4>
              <h6 class="card-subtitle mb-2 text-muted">Esta cursada no dispone de estudiantes</h6>
              <i class="fas fa-exclamation-triangle empty-alert"></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
