<div class="container box">
  <div class="row">
    <div class="col">
      <h1><%= @course.title %></h1>
    </div>
    <div class="col text-right">
      <%= link_to 'Editar', edit_course_path(@course), class: "btn btn-info" %>
      <%= link_to 'Eliminar', course_path(@course), :data => {:confirm => '¿Seguro desea eliminar la cursada?'}, :method => :delete, class: "btn btn-danger" %>
      <%= link_to 'Atrás', courses_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <p>
    <strong>Año:</strong>
    <%= @course.year %>
  </p>

  <div class="row">
    <% @course.exams.each do |exam| %>
      <div class="col-4">
        <div class="card style="width: 20rem;"">
          <div class="card-body">
            <h4 class="card-title"><%= exam.title %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= exam.date.strftime("%m/%d/%Y") %></h6>
            <%= link_to "Ver", course_exam_path(@course, exam), class: "card-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <%= link_to 'Nuevo examen', new_course_exam_path(@course), class: "btn btn-primary" %>
      <%= link_to 'Alumnos', course_students_path(@course), class: "btn btn-primary" %>
      <%= link_to 'Resultados', results_course_path(@course), class: "btn btn-primary" %>
    </div>
  </div>
</div>
