<%= form_for([@exam.course, @exam]) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  <div class="form-group">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="form-group">
    <%= f.label :minimum %><br />
    <%= f.number_field :minimum, class: "form-control", placeholder: "Minimum" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>